
Api/.vs/Api/v17/.futdcache.v2
Api/.vs/Api/v17/.suo
Api/.vs/Api/v17/DocumentLayout.backup.json
Api/.vs/Api/v17/DocumentLayout.json
Api/.vs/ProjectEvaluation/api.metadata.v9.bin
Api/.vs/ProjectEvaluation/api.projects.v9.bin
Api/.vs/ProjectEvaluation/api.strings.v9.bin
Api/Api/bin/Debug/net8.0/Api.dll
Api/Api/bin/Debug/net8.0/Api.exe
Api/Api/obj/Debug/net8.0/Api.AssemblyInfo.cs
Api/Api/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache
Api/Api/obj/Debug/net8.0/Api.csproj.AssemblyReference.cache
Api/Api/obj/Debug/net8.0/Api.GeneratedMSBuildEditorConfig.editorconfig
